.App{
    display: flex;
    height: 100vh;
}
.column{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.column h2, button{
    padding: 5px;
    border-radius: 5px;
}
.column h2:hover, button:hover{
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}
button{
    background-color: inherit;
    border: none;
}
svg{
    width: 20px;
    height: 20px;
}
button:focus{
    outline: none;
}
.black{
    color: black;
}
.white{
    color: white;
}